<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="meh.kitastest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/improvised"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/LightAppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- GRAPH -->
        <activity android:name=".GraphActivity" />

        <!-- MONEY -->
        <activity android:name=".MoneyActivity" />
        <activity android:name=".currency_everything" />

        <!-- NEWS -->
        <activity android:name=".NewsActivity" />

        <!-- OPTIONS -->
        <activity
            android:name=".OptionsActivity"
            android:screenOrientation="portrait" />

        <!--
             INFO
            <activity android:name=".InfoActivity" />
        -->

        <activity android:name=".WebsiteActivity" />
        <activity android:name=".InfoActivity" />
        <activity
            android:name=".bottombar"
            android:label="@string/title_activity_bottombar"></activity>
    </application>

</manifest>